@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@if (CurrentPage.HasValue("categorysection"))
{
    string strCategories = CurrentPage.categorysection;
    string[] aryCategoryIds = strCategories.Split(',');
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            @foreach (string strId in aryCategoryIds)
            {
                var item = Umbraco.Content(strId);
                <li><a href="@item.Url">@item.Name</a></li>
            }
        </ul>
    </div>
}






@*  TRADITIONAL BREADCRUMBS
<div class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        @foreach (var level in CurrentPage.Ancestors().Where("Visible"))
        {
            <li><a href="@level.Url">@level.Name</a> @level.level</li>
        }
        <li class="active">@CurrentPage.Name</li>
    </ul>
</div>
*@