@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@if (CurrentPage.HasValue("marquee"))
{
    string strMarqueeIds = CurrentPage.marquee;
    string[] aryMarqueeIds = strMarqueeIds.Split(',');

    if (aryMarqueeIds.Length > 1)
    {
        <div class="swiper-container marquee-swiper-container">
            <div class="swiper-wrapper">
                @foreach (string strId in aryMarqueeIds)
                {
                    var item = Umbraco.Content(strId);
                    var imgUrlLegacy = "http://www.americanrifleman.org/" + @item.image;
                    <div class="swiper-slide">
                        <div class="slide-img">
                            @if (item.mainImage.Length > 1)
                            {
                               <img src="@item.mainImage" />
                            }
                            else if (item.image.Length > 1)
                            {
                                <img src="@imgUrlLegacy" />
                            }
                        </div>
                        <div class="slide-copy">
                            <div class="slide-category">*** catagory ***</div>
                            <div class="slide-title"><h2>@item.title</h2></div>
                            <div class="slide-summary">@item.summaryContent</div>
                        </div>
                    </div>
                }
            </div>
            <div class="pagination"><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span><span class="swiper-pagination-switch swiper-visible-switch"></span><span class="swiper-pagination-switch swiper-visible-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span></div>
        </div>
    
        <script>
            var mySwiper = new Swiper('.swiper-container', {
                pagination: '.pagination',
                paginationClickable: true,
                slidesPerView: 3
            })
        </script>
    
    }
    
     

}















