@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@if (CurrentPage.HasValue("marquee"))
{
    string strMarqueeIds = CurrentPage.marquee;
    string[] aryMarqueeIds = strMarqueeIds.Split(',');

    if (aryMarqueeIds.Length > 1)
    {
        <div class="swiper-container marquee-swiper-container">
            <div class="swiper-wrapper">
                @foreach (string strId in aryMarqueeIds)
                {
                    var item = Umbraco.Content(strId);
                    var imgUrl = "";

                    if (item.mainImage.Length > 1)
                    {
                        imgUrl = @item.mainImage + "?preset=marqueeNarrow";
                    }
                    else if (item.image.Length > 1)
                    {
                        imgUrl = "http://www.americanrifleman.org" + @item.image + "?preset=marqueeNarrow";
                    }
                    
                    string strCategoryIds = item.categorysection;
                    string[] aryCategorySectionIds = strCategoryIds.Split(',');
                    string strCategory = "";

                    foreach (string strIdCategory in aryCategorySectionIds)
                    {
                        var itemCategory = Umbraco.Content(strIdCategory);
                        if (itemCategory.level == 2)
                        {
                            strCategory += itemCategory.name + " ";
                        }
                    }
                    
                    <div class="swiper-slide">
                        
                            <div class="slide-content" style="background-image: url('@imgUrl');">
                                <div class="slide-copy">
                                    <div class="slide-category">@strCategory</div>
                                    <div class="slide-title"><h2><a href="@item.url">@item.title</a></h2></div>
                                    <div class="slide-summary">@Html.Raw(item.summaryContent)</div>
                                </div>
                            </div>
                        
                    </div>
                }
            </div>
            <div class="pagination"><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span><span class="swiper-pagination-switch swiper-visible-switch"></span><span class="swiper-pagination-switch swiper-visible-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span></div>
        </div>
    
        <script>
            var mySwiper = new Swiper('.swiper-container', {
                pagination: '.pagination',
                paginationClickable: true,
                slidesPerView: 'auto'
            })
        </script>
    
    }
    
     

}















