@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    
    string tagStr = Umbraco.Field("topicTags").ToString();
    string[] tagArry = tagStr.Split(",".ToCharArray(), StringSplitOptions.RemoveEmptyEntries);
    string categoryStr = Umbraco.Field("categories").ToString();
    string[] categoryArry = categoryStr.Split(",".ToCharArray(), StringSplitOptions.RemoveEmptyEntries);
    
	string pdf = "http://www.americanrifleman.com" + Umbraco.Field("pdf").ToString();
	string imageUrl = "http://www.americanrifleman.com" + Umbraco.Field("image").ToString();
	string video = Umbraco.Field("video").ToString();
	string videoMp4 = Umbraco.Field("videoMp4").ToString();
	
	// **** NOTE: PATH TO .FLV IS NOT CORRECT.  
	// **** CUSTOM FLASH VIDEO PLAYER IS USED WITH AD SERVER.
	// **** THIS IS THE PATH TO THE .FLV FROM THE DATA DUMP.
	string videoFlv = Umbraco.Field("videoFlv").ToString();

}

@Umbraco.RenderMacro("Header")
	
	@Umbraco.RenderMacro("Nav")
	
	<div class="container">
		
		@Umbraco.RenderMacro("Breadcrumbs")
		
    	<h1>@Umbraco.Field("title")</h1>
		
		<p class="lead">@Umbraco.Field("summaryContent")</p>
		
		<!-- video -->
		<!-- *** NOTE:  Video player needs to be replaced with custom flash player with ad server -->
		@{
			if (Umbraco.Field("image").ToString() != ""){
				<p><img src="@imageUrl" /></p>
			}
			if (Umbraco.Field("video").ToString() != ""){
				<p>
					<video id="video" poster="" controls="">
					  <source src="@video" type="video/mp4">
					</video>	
				</p>
			} else if (Umbraco.Field("videoMp4").ToString() != ""){
				<p>
					<video id="video" poster="" controls="">
					  <source src="@videoMp4" type="video/mp4">
					</video>	
				</p>
			} else if (Umbraco.Field("videoFlv").ToString() != ""){
				<p>
					*** NOTE: FLASH VIDEO GOES HERE<br />
					*** PATH TO .FLV FROM DATA FILE:  @videoFlv
				</p>
			}
			
		}
		
		<p class="text-muted pull-right"><em>@Umbraco.Field("byLine")</em></p>
		<p class="text-muted"><em>@Umbraco.Field("publicationDate", formatAsDate: true)</em></p>
		
		@Umbraco.Field("bodyContent")
				
		<!-- pdf -->	
		@{
			if (Umbraco.Field("pdf").ToString() != ""){
				<h3>Attachment</h3>
				<p><a href="@pdf" target="_blank"><span class="glyphicon glyphicon-file" title="PDF attachment"></span> @pdf</a></p>
			}	
		}
				
		<!-- categories/tags -->
		<div class="row">
  			<div class="col-sm-6">
				<h3>Categories</h3>
				<div>
					@foreach (string category in categoryArry)
					{
						<a href="#"><span class="badge">@category</span></a>
					}
				</div>
			</div>
  			<div class="col-sm-6">
				<h3>Tags</h3>
				<div>
					@foreach (string tag in tagArry)
					{
						<a href="#"><span class="badge">@tag</span></a>
					}
				</div>
			</div>
		</div>

		
	</div>
		
@Umbraco.RenderMacro("Footer")
	