@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

@Html.Partial("desktopHeader", new ViewDataDictionary { { "currentPage", CurrentPage.Id } })
@Html.Partial("desktopNav")
	
	<div class="container">
		
		@Umbraco.RenderMacro("Breadcrumbs")
		
    	<h1>@Umbraco.Field("title")</h1>
		
		@Umbraco.RenderMacro("Subnav")
	
		@Umbraco.Field("bodyContent")
		
	</div>
		
@Html.Partial("desktopFooter")

</body>
</html>