@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

@Html.Partial("desktopHeader", new ViewDataDictionary { { "currentPage", CurrentPage.Id } })
@Html.Partial("desktopNav")
@Html.Partial("breadcrumbs")

<div class="container">
    <h1>@Umbraco.Field("title")</h1>
</div>

@if (@Umbraco.Field("bodyContent").ToString().Trim() != "")
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">@Umbraco.Field("bodyContent")</div>
        </div>
    </div>
}

@Html.Partial("desktopFooter")

</body>
</html>